meta(charset="utf-8")
meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
    )
meta(
    name="viewport"
    content="width=device-width, initial-scale=1"
    )
meta(
    itemprop="name"
    content="Unnatural Life"
    )
meta(
    name="description"
    content="There's a bug going around, jamming just about any genes it likes into human DNA, and transforming its hosts into Virmen: contagious and beastly mistakes of god. Society has re-structured well enough to the parasite's presence that the word 'pandemic' hardly crosses any lips. Japhet finds themself stuck with the sharp end of how society keeps itself clean, and they won't be taking it kindly. Updates Mondays. The standalone site is more accessible, and has a content warning widget cause it gon' get nasty."
     )
meta(
    name="keywords"
    content="unnatural life, webcomic"
  )
title Unnatural Life
link(rel="shortcut icon" sizes="180x180" href="/favicon-dummy.ico")
// Bootstrap CSS
link(
    rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
    )
link(
    rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    )
<!--[if lt IE 9]>
<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->
if isAdmin
    link(
        rel='stylesheet'
        href='/styles/vendor/trumbowyg-912b62bbdb.min.css'
        )
link(
    rel='stylesheet'
    href='/styles/styles-621c7ea81a.css'
    )
